node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
.git
.gitignore
.vscode
.env
.env.*
firebase-service-account.json
*.pyc
__pycache__
venv
.venv
177*-player-script.js
*.py
config
middleware
models
routers
services
music_hub
__pycache__
*.md
